<%- include('includes/prebody'); %>
<%- include('includes/header'); %>
<h1>Day <%= num %></h1>

<%- include('../challenges/description/' + num + 1); %>

<p>더 풀었다면 더 서술</p>
<p>입력 폼 또는 로그인 창</p>
<%- include('includes/postbody'); %>
